body {
  margin: 0;
  padding: 0;
  background: url('../background.png');
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbotron {
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.outline {
  text-shadow:
  -1.5px -1.5px 0 white,
  1.5px -1.5px 0 white,
  -1.5px 1.5px 0 white,
  1.5px 1.5px 0 white;
}

.outlineblack {
  text-shadow:
  -1.5px -1.5px 0 black,
  1.5px -1.5px 0 black,
  -1.5px 1.5px 0 black,
  1.5px 1.5px 0 black;
}

.outlinered {
  text-shadow:
  -1.5px -1.5px 0 darkred,
  1.5px -1.5px 0 darkred,
  -1.5px 1.5px 0 darkred,
  1.5px 1.5px 0 darkred;
}

.redbungee {
  color: darkred;
  font-weight: bold;
  font-family: "bungee";
}

.whitebungee {
  color: white;
  font-weight: bold;
  font-family: "bungee";
}

.blackbungee {
  color: black;
  font-weight: bold;
  font-family: "bungee";
}

.redpacifico {
  color: darkred;
  font-weight: bold;
  font-family: "pacifico";
}

.whitepacifico {
  color: white;
  font-weight: bold;
  font-family: "pacifico";
}

.blackpacifico {
  color: black;
  font-weight: bold;
  font-family: "pacifico";
}

.map-container > div {
  position: relative !important;
  height: auto !important;
  width: 100% !important;
}

.map-container > div > div {
  width: 70% !important;
}

.single-product-container >.container > div:nth-of-type(2) {
  width: 100%;
}

.jumbotron.text-xs-center {
  color: white;
}