#form-container {
    border: black solid 5px;
    width: 370px;
    color: black;
    height: 192px;
    border-radius: 0.5em;
    padding: .5em;
}

label {
    color: white;
}

#card-btn {
    font-family: bungee;
    border: 3px solid black;
    color: white;
    background-color: darkred;
}

.StripeElement {
    margin: .5em 0;
    padding: .2em;
    background-color: white;
}