/* .container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-card {
    margin-right: 1em;
    min-width: 50%;
}

.product-image {
    min-height: 150px;
    min-width: 150px;
} */

.singleCard {
    display: flex;
    justify-content: center;
    margin: 1em;
    width: 400px;
}

#prosthetic-img {
    display: flex;
    justify-content: center;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    margin-bottom: 1em;
    min-height: 200px;
}