.card {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: -webkit-linear-gradient(left, darkred, #ea920c);
}

.btn {
    background-color: darkred;
    color: white;
    font-weight: bolder;
    border: black solid 5px;
}