.jumbotron {
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,0.4)), url('../../background.png');
    background-position: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    font-weight: bolder;
    border: black solid 5px;
    height: auto;
}