.jumbotron {
    background-image: url(http://www.cybathlon.ethz.ch/publications/video-gallery/_jcr_content/image.imageformat.carousel.1121190493.jpg);
    background-position: no-repeat;
    background-size: 100% auto;
    color: white;
}