.navbar {
    background-color: black;
    display: block;
    justify-content: space-between;
    border-radius: .5em;
}

.navbar-nav {
    display: flex;
    align-items: left;
}

.navbar-toggler {
    margin: 0.5px;
    align-items: left;
}

.form-inline.my-2.my-lg-0 {
    float: right;
    position: relative;
    left: 12px;
    margin: 3px;
}